.CreateTodo {
  width: 100%;
  background-color: #25273c;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
}

.CreateTodo input[type='text'] {
  background-color: inherit;
  width: 100%;
  outline: none;
  border: none;
  color: hsl(0, 0%, 98%);
  font-family: inherit;
  font-size: 12px;
}

.Light,
.Light input[type='text']  {
  background-color: #FFF;
  color: #25273c;
}

@media (min-width: 500px) {
  .CreateTodo {
    width: 480px;
  }
}
