.TodoFilter {
  display: flex;
  padding: 15px;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: inherit;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
  width: 100%;
  z-index: 100;
}

.TodoFilter > p {
  color: hsla(235, 19%, 35%, 0.555);
  font-size: 12px;
  font-weight: bold;
  margin: 0 10px;
}

.TodoFilter > p:hover {
  cursor: pointer;
  color: inherit;
}

.Selected {
  color: hsl(220, 98%, 61%) !important;
}

@media(min-width: 500px) {
  .TodoFilter {
    bottom: 0;
    width: auto;
  }
}