.TodoFooter {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  border-radius: 5px;
  position: relative;
}

.TodoFooter > p {
  font-size: 12px;
  color: hsla(235, 19%, 35%, 0.603);
  margin: 0;
}

.TodoFooter > p:last-child:hover {
  cursor: pointer;
  color: inherit;
}